
<!-- Modal -->
<div class="modal fade" id="otherexpenseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New General ledger</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input type="hidden" id="data-id">

                <section>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-4">
                                <label for="checkIn">@JSMS.Resources.Language.Date</label>
                                <input type="date" class="form-control" id="date-expense" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="fww-normal">Activity</label>
                                <select class="form-select" id="expense-activity">
                                    <option value="0">Please select activity</option>
                                    <option value="1">ចំណូល</option>
                                    <option value="2">ចំណាយ</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-2">
                                <div class="form-group mb-3">
                                    <label class="fw-normal" for="invoice">Invoice Code</label>
                                    <input id="invoice-expense" type="text" class="form-control" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>
                        </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="expenseType-label" class="fw-normal" for="income-type">Expense Type</label>
                                    <select id="expense-type" class="form-select">
                                        <option value="0">---Select expense type---</option>
                                        <option value="1">ចំណូលពីការឧបត្ថម្ភស្ម័គ្រចិត្ត</option>
                                        <option value="2">ចំណូលពីការលក់សេវាកម្ម</option>
                                        <option value="3"> ចំណូលពីការពីការឧបត្ថម្ភពីរដ្ឋ</option>
                                        <option value="4">ប្រាក់ចំណូលពីការលក់ផលិតផល</option>
                                        <option value="5">ចំណូលពីថ្លៃសេវា</option>
                                        <option value="6"> ប្រាក់ចំណូលពីការផ្សាយពាណិជ្ជកម្ម</option>
                                        <option value="7">ចំណូលពីចំណូលការប្រាក់</option>
                                        <option value="8">ចំណូលពីសួយសារអាករ</option>
                                        <option value="9">ចំណូលពីថ្លៃប្រឹក្សាយោបល់</option>
                                        <!--Expense-->
                                        <option value="10">បង់ពន្ធប្រចាំខែ</option>
                                        <option value="11">បង់ពន្ធប្រចាំឆ្នាំ</option>
                                        <option value="12">ផាកពិន័យពន្ធ</option>
                                        <option value="13">ប្រាក់បៀវត្សរ៍និងប្រាក់ឈ្នួលរបស់និយោជិត</option>
                                        <option value="14">ថ្លៃសម្ភារៈ និងការផ្គត់ផ្គង់</option>
                                        <option value="15">ការចំណាយលើការជួលទីតាំង</option>
                                        <option value="16">ការផ្គត់ផ្គង់ក្រុមហ៊ុន (អគ្គិសនី, ថ្លៃទឹក)</option>
                                        <option value="17">ការចំណាយលើការធានារ៉ាប់រង</option>
                                        <option value="18">ថ្លៃថែទាំ និងជួសជុល</option>
                                        <option value="19">ការចំណាយលើទីផ្សារ និងការផ្សាយពាណិជ្ជកម្ម</option>
                                        <option value="20">ការចំណាយលើសម្ភារៈ</option>
                                        <option value="21">ការចំណាយលើការធ្វើដំណើរ និងការកម្សាន្ត</option>
                                        <option value="23">ផ្សេងៗ</option>
                                        <option value="24">សូមជ្រើសរើសប្រតិបត្តិការចេញ ឬ ចូលជាមុនសិន</option>
                                    </select>
                                </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-2">
                                <div class="form-group mb-3">
                                    <label class="fw-normal" for="income-type">Total Cost</label>
                                    <input id="cost-expense" type="text" class="form-control" aria-label="Cost" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating mb-2">
                                <div class="form-group mb-3">
                                    <label class="fw-normal" for="income-type">Payment Type</label>
                                    <select id="payment-expense" class="form-select">
                                        <option value="0">select Payment Type</option>
                                        <option value="ABA">ABA</option>
                                        <option value="ACELDA">ACELDA</option>
                                        <option value="WING">WING</option>
                                        <option value="BraSak">BraSak</option>
                                        <option value="Canadia">Canadia</option>
                                        <option value="Cash">Cash</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="fw-normal" for="note" id="note-expense">Note</label>
                        <input id="note" type="text" class="form-control" aria-label="note" aria-describedby="inputGroup-sizing-default">
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-expense">Save changes</button>
                <button type="button" class="btn btn-primary" id="update-expense">Update</button>
            </div>
        </div>
    </div>
</div>