/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

td, select, a, span, input, textarea, li, label,
option, h1, h2, h3, h4, h5, h6, th {
    font-family: 'Khmer OS Battambang','Segoe UI', sans-serif;
    /*font-weight: bold;*/
    /*font-size: 16px;*/
}


#calendar table {
    border-collapse: collapse;
    width: 100%;
}

#calendar th,
#calendar td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

.modal-title {
    margin: 0 auto;
}

.cursor-default {
    cursor: default;
    font-size: small;
}

.custom-swal-title {
    color: blue;
    font-size: 12px;
    font-family: 'Khmer OS Battambang','Segoe UI', sans-serif;
}

/* Styles for normal view */
.print-hidden {
    display: none;
}

@media print {
    img {
        max-width: 100%;
        height: auto;
    }

    /*body {
        display: none;
    }*/
    /*
    #product {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border: 1px solid black;
        text-align: center;
    }*/
}


.btn-style {
    position: relative;
    border-radius: 8px;
    border: 0;
    overflow: hidden;
    width: 17rem;
    margin-top: 1rem;
}

    .btn-style input[type="file"] {
        cursor: pointer;
        position: absolute;
        left: 0%;
        top: 0%;
        transform: scale(3);
        opacity: 0;
    }

.btn-style-2 {
    position: relative;
    border-radius: 8px;
    border: 0;
    overflow: hidden;
    width: 12rem;
    margin-top: 1rem;
}

    .btn-style-2 input[type="file"] {
        cursor: pointer;
        position: absolute;
        left: 0%;
        top: 0%;
        transform: scale(3);
        opacity: 0;
    }


.btn {
    color: #fff;
}

    .btn:hover {
        color: #fff;
    }


#loading-gif.show {
    display: block;
    position: fixed;
    z-index: 100;
    background-image: url('/Images/loading.gif');
    opacity: .4;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.w-h {
    min-height: 250px;
    height: 250px;
    max-height: 250px;
    max-width: 100%;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    font-size: 25px; /* Adjust the font size as needed */
    display: inline-block; /* Make the rating stars appear on the same line */
}

    .rating input {
        display: none;
    }

        .rating input:checked ~ label {
            color: #f90;
        }

#dropArea {
    border: 2px dashed #ccc;
    padding: 20px;
    cursor: pointer;
}

#fileList {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px;
}

.fileItem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .fileItem button {
        margin-left: 5px;
        border: none;
    }

/* Increase specificity */
.dataTables_wrapper .dataTables_length select {
    width: 100px !important; /* Add !important */
}
